table {
    width:100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}
th{
    background: #AFCDE7;
    color: white;
}
th, td {
    padding: 10px 20px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: white;
}

td {
    background: #D8E6F3;
}
    th:first-child, td:first-child {
    text-align: left;
}

body{
    background: #E0FFFF;
}

ul {
  width: 800px;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
  overflow: hidden;
}

li {
  float: left;
  width: 25%;
}
div{
      width:100%;
      height:10%;
      background: #FFFFFF;
}

li>a {
  text-decoration: none;
  text-align: center;
  display: block;
  color: #868686;
  padding: 0.5em 0;
  font-size: 2em;
  font-weight: bold;
  transition: 0.5s ease-in-out;
}


label {
	border-radius: 10px;
	background: #AFCDE7;
    color: white;
	padding: 10px;
	width: 100px;
	border: none;
}
li>a:hover {
  color: #9ACD32;
}

h1{
     text-decoration: none;
     text-align: center;
     display: block;
     padding: 0.5em 0;
     font-size: 2em;
     font-weight: bold;
     transition: 0.5s ease-in-out;
}